<li>
	{{name}}

	<button class="change-status" data-id="{{id}}" data-newsleep="{{devour}}">
		{{#if devoured}}Add to Menu!{{else}}Devour!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>